@use  '../variables';

.signupContainer {
    .signup {
        display: flex;
        width: 132.6rem;
        padding: 10rem 15rem;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        position: relative;
        
        border-radius: 2rem;
        border: .1rem solid variables.$grey_15;
        background: lightgray 50% / cover no-repeat, variables.$grey_11;
        background-blend-mode: overlay, normal;
        
        .signupAbstractdesign {
            position: absolute;
            top: 0;
            right: 0;
        }
        
        .signupHeadings {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            align-self: stretch;

            h1 {
                text-transform: capitalize;
                color: variables.$green_60;
                text-align: center;
                font-size: 4.8rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                align-self: stretch;
            }

            p {
                color: variables.$grey_75;
                text-align: center;
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
        }
        

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4rem;
            align-self: stretch;

            .inputs {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 3rem;
                align-self: stretch;
                position: relative;
                input {
                    display: flex;
                    padding: 2.4rem;
                    align-items: center;
                    gap: 1rem;
                    flex: 1 0 0;
                    border-radius: 8.8rem;
                    border: .1rem solid variables.$grey_15;
                    background-color: variables.$grey_10;

                    &::placeholder,
                    &:-moz-placeholder {
                        color: variables.$grey_35;
                        font-family: Lexend;
                        font-size: 1.8rem;
                        font-weight: 300;
                        line-height: 150%;
                    }

                    &.passwordInput {
                        position: relative;
                    }   
                }
            }

            a[href="#password"] {
                color: variables.$absolute_white;
                text-align: center;
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                text-decoration: underline;
                align-self: stretch;

            }

            .buttons {
                display: flex;
                padding: 0 25.4rem;
                flex-direction: column;
                align-items: flex-start;
                gap: 2.4rem;
                align-self: stretch;

                button[type="submit"] {
                    display: flex;
                    padding: 1.8rem 2rem;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    align-self: stretch;
                    border-radius: 6.3rem;
                    background-color: variables.$green_60;

                    // text
                    color: variables.$grey_15;
                    text-align: center;
                    font-size: 1.8rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 27px */
                    flex: 1 0 0;

                    &:hover {
                        background-color: variables.$green_65;
                    }
                }

                a {
                    display: flex;
                    padding: 1.8rem 2rem;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    align-self: stretch;

                    border-radius: 6.3rem;
                    border: .1rem solid variables.$grey_20;
                    background-color: variables.$grey_15;

                    color: variables.$grey_70;
                    text-align: center;
                    text-decoration: none;
                    font-size: 1.8rem;
                    font-weight: 400;
                    line-height: 150%;

                    &:hover {
                        background-color: variables.$grey_20;
                    }
                }
                

                .moreOptions {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    align-self: stretch;

                    .line {
                        width: 16.6rem;
                        height: .1rem;
                        background-color: variables.$grey_70;
                    }

                    p {
                        color: variables.$grey_70;
                        text-align: center;
                        font-size: 1.8rem;
                        font-weight: 400;
                        line-height: 150%;
                    }
                }

                .socialSignup {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2.4rem;
                    align-self: stretch;

                    button {
                        display: flex;
                        padding: 1.2rem;
                        justify-content: center;
                        align-items: flex-start;
                        gap: 1rem;
                        border: unset;
                        border-radius: 7rem;
                        background: linear-gradient(180deg, rgba(202, 255, 51, 0.05) 0%, rgba(202, 255, 51, 0.00) 100%);
                        
                        a {
                            display: flex;
                            padding: 2rem;
                            justify-content: center;
                            align-items: center;
                            gap: 1rem;
                            border: unset;
                            border-radius: 5rem;
                            background: linear-gradient(180deg, rgba(202, 255, 51, 0.10) -66.22%, rgba(202, 255, 51, 0.00) 85.46%);

                            img {
                                position: unset;
                                width: 3rem;
                                height: 3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .signupContainer {
        .signup {
            width: 106.4rem;
            padding: 8rem 20rem;
            gap: 6rem;
            border-radius: 1.6rem;
            
            .signupAbstractdesign {
                height: 24.3rem;
            }

            .signupHeadings {
                gap: 1.6rem;
                
                h1 {
                    text-transform: capitalize;
                    color: variables.$green_60;
                    text-align: center;
                    font-size: 4.8rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    align-self: stretch;
                }
    
                p {
                    color: variables.$grey_75;
                    text-align: center;
                    font-size: 1.8rem;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
            }

            form {
                gap: 3rem;

                .inputs {
                    gap: 2.4rem;
                    
                    input {
                        padding: 2rem;
                        
                        &::placeholder,
                        &:-moz-placeholder {
                            font-size: 1.6rem;
                        }
                    }
                }

                a[href="#password"] {
                    font-size: 1.6rem;
                }

                .buttons {
                    padding: 0rem 13rem;

                    button[type="submit"] {
                        padding: 1.4rem 2.4rem;

                        // text
                        font-size: 1.4rem;
                    }

                    a {
                        padding: 1.4rem 2.4rem;
                        font-size: 1.6rem;
                    }
                    

                    .moreOptions {
                        gap: 1.6rem;
                        
                        .line {
                            width: 12.9rem;
                        }

                        p {
                            font-size: 1.6rem;
                        }
                    }

                    .socialSignup {
                        gap: 2rem;
                        
                        button {
                            padding: .8rem;
                            
                            a {
                                padding: 1.4rem;
                                
                                img {
                                    position: unset;
                                    width: 2.4rem;
                                    height: 2.4rem;
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}

// Mobile
@media screen and (max-width: 426px) {
    .signupContainer {
        .signup {
            flex-direction: column;
            align-items: flex-start;
            width: 35.8rem;
            padding: 3rem;
            gap: 4rem;
            border-radius: 1.6rem;

            .signupAbstractdesign {
                height: 16.9rem;
            }

            .signupHeadings {
                gap: 1rem;
            
                h1 {
                    font-size: 2.8rem;
                }
    
                p {
                    font-size: 1.4rem;
                }
            }

            form {
                flex-direction: column;
                align-items: center;
                gap: 2.4rem;

                .inputs {
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 2rem;

                    input {
                        padding: 1.6rem;
                        align-self: stretch;
                    }
                }

                a[href="#password"] {
                    font-size: 1.4rem;
                }

                .buttons {
                    padding: unset;
                }
            }
        }
    }
}