@use '../variables';

.tpContainer {
    display: flex;
    width: 159.9rem;
    padding: 5rem;
    align-items: flex-start;
    border-radius: 2rem;
    background-color: variables.$grey_11;
    position: relative;

    img {
        position: absolute;
        top: 0;
        right: 0;
    }

    .tpImage {
        width: 96.8rem;
        height: 71.6rem;
        flex: 1 0 0;
        border-radius: 1.6rem;
        margin-left: -26rem;
        z-index: 3;
        position: unset;
    }

    .tpTitles {
        display: flex;
        width: 79.1rem;
        padding: 8rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.3rem;
        flex-shrink: 0;
        border-radius: 2rem 0rem 8rem 2rem;
        background-color: variables.$grey_10;
        z-index: 5;

        h2 {
            font-size: 5.8rem;
            font-weight: 500;
            line-height: 130%;
            align-self: stretch;

            strong {
                color: variables.$green_60;
            }
        }

        p {
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 150%;
            color: variables.$grey_70;
            align-self: stretch;
        }

    }
}

// Laptop
@media screen and (max-width: 1440px) {
    .tpContainer {
        display: flex;
        width: 128rem;
        padding: 4rem;
        
        
        .tpTitles {
            width: 65.8rem;
            padding: 6rem;
            gap: 2rem;
            border-radius: 2rem 0rem 6rem 2rem;
            
            h2 {
                font-size: 4.8rem;
            }
            
            p {
                font-size: 1.6rem;
            }
            
        }
        
        .tpImage {
            width: 71.5rem;
            height: 56.8rem;
            margin-left: -17.4rem;
        }
    }
}

// Mobile
@media screen and (max-width: 430px) {
    .tpContainer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-end;
        width: 35.7rem;
        padding: 1.4rem;
    
        img {
            height: 18.9rem;
        }
    
        .tpImage {
            width: 32.9rem;
            height: 31.6rem;
            margin-bottom: -4.1rem;
        }
    
        .tpTitles {
            width: 32.9rem;
            padding: 2.4rem;
            text-align: center;
            gap: 1.4rem;
            border-radius: 2rem;
            z-index: 5;
    
            h2 {
                font-size: 2.8rem;
            }
    
            p {
                font-size: 1.4rem;
            }
        }
    }
}