@use '../variables';

.prContainer {
    display: flex;
    width: 159.6rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 8rem;
    .prCardSubContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
        align-self: stretch;    
        .prSubContainer {
            display: flex;
            align-items: flex-start;
            gap: 3rem;
            align-self: stretch;
        }
    }
}

@media screen and (max-width: 1440px) {
    .prContainer {
        width: 128rem;
        gap: 6rem;
        
        .prCardSubContainer {
            gap: 2rem;
            
            .prSubContainer {
                gap: 2rem;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .prContainer {
        width: 35.8rem;
        align-items: center;
        gap: 4rem;
        
        .prCardSubContainer {
            gap: 2rem;

            .prSubContainer {
                flex-direction: column;
                align-items: center;
                gap: 2rem;
            }
        }
    }
}