@use '../../../variables';

.qualification {
    display: flex;
    align-items: center;
    gap: 1rem;
    align-self: stretch;

    p {
        color: variables.$grey_70;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 150%; /* 27px */
    }
}

// Laptop
@media screen and (max-width: 1440px) {
    .qualification {
        gap: .8rem;
        
        p {
            font-size: 1.6rem;
        }
    }
}

// Tablets & Mobiles
@media screen and (max-width: 768px) {
    .qualification {
        img {
            height: 1.9rem;
            height: 1.6rem;
        }

        p {
            font-size: 1.4rem;
        }
    }
}