@use '../variables';

.casesContainer {
    display: flex;
    width: 159.6rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 8rem;

    .casesContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6rem;
        align-self: stretch;

        .indiBusiContainer {
            display: flex;
            align-items: center;
            gap: 10rem;
            align-self: stretch;

            .indiBusiItems {
                display: flex;
                padding: 5rem;
                flex-direction: column;
                align-items: flex-start;
                gap: 2rem;
                flex: 1 0 0;
                border-radius: 2rem;
                background-color: variables.$grey_11;
                position: relative;
                background-image: url('../../../assets/img/Home/abstract_design.svg');
                background-repeat: no-repeat;

                &:last-child {
                    background-image: url('../../../assets/img/Home/abstract_design_reversed.svg');
                    background-position: top right; 
                }
                
                .casesSubItems {
                    display: flex;
                    align-items: flex-start;
                    gap: 2rem;
                    align-self: stretch;

                    
                }
            }
        }
    }
}

// Laptop
@media screen and (max-width: 1440px) {
    .casesContainer {
        width: 128rem;
        gap: 6rem;

        .casesContent {
            gap: 4rem;

            .indiBusiContainer {
                gap: 6rem;

                .indiBusiItems {
                    gap: 1rem;
                    
                    .casesSubItems {
                        gap: 1rem;
                    }
                }
            }
        }
    }
}

// Tablets & Mobiles
@media screen and (max-width: 768px) {
    .casesContainer {
        width: 35.8rem;
        gap: 6rem;
    
        .casesContent {
            align-items: center;
            gap: 4rem;
    
            .indiBusiContainer {
                flex-direction: column;
                gap: 3rem;
                
                &:last-child {
                    flex-direction: column-reverse;
                }
                
                .indiBusiItems {
                    padding: 2rem;
                    gap: 1rem;
                    flex: 1 0 0;
                    background-size: 11.2rem;
                    

                    .casesSubItems {
                        gap: 1rem;
                    }
                }
            }
        }
    }
}