@use '../variables';

.faqContainer {
    display: flex;
    width: 159.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: unset;

    .faqTitles {
        display: flex;
        padding-right: 30rem;
        flex-direction: column;
        align-items: center;
        gap: 1.4rem;
        align-self: stretch;

        h2 {
            font-size: 4.8rem;
            font-weight: 500;
            line-height: 150%;
            align-self: stretch;

            strong {
                color: variables.$green_60;
            }
        }

        p {
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 150%;
            color: variables.$grey_70;
            align-self: stretch;
        }
    }

    .questionsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;

        .questions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 3rem;
            align-self: stretch;
            position: relative;
            .gradient {
                width: 100%;
                height: 27.5rem;
                position: absolute;
                z-index: 5;
                bottom: -.2rem;
                background: linear-gradient(180deg, rgba(25, 25, 25, 0.00) 0%, variables.$grey_19 100%);
            }
            .row {
                display: flex;
                align-items: flex-start;
                gap: 3rem;
                align-self: stretch;
            }

        }

        button {
            display: flex;
            padding: 1.8rem 2.4rem;
            align-items: center;
            gap: .4rem;
            border-radius: 10rem;
            font-size: 1.8rem;
            border: .1rem solid variables.$grey_15;
            background-color: variables.$grey_11;
        }
    }
}

@media screen and (max-width: 1440px) {
    .faqContainer {
        width: 128rem;
        gap: 6rem;

        .faqTitles {
            padding-right: 15rem;
            gap: 1rem;

            h2 {
                font-size: 3.8rem; 
            }
    
            p {
                font-size: 1.6rem;
            }
        }

        .questionsContainer {
            .questions {
                gap: 2rem;
                
                .row {
                    gap: 2rem;
                }

            }

            button {
                font-size: 1.4rem;
                padding: 1.4rem 2rem;
            }
        }
    }
}