@use '../variables';

.hsContainer {
    display: flex;
    gap: 12rem;
    align-items: flex-start;
    padding: 10rem 29.7rem 10rem 16.2rem;
    position: relative;

    .arrowsdesign {
        position: absolute;
        right: 11rem;
    }

    .fjContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5rem;
        flex: 1 0 0;

        .fjHeadings {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
            align-self: stretch;
            .no-check-bank {
                display: inline-flex;
                align-items: center;
                gap: .6rem;
                padding: 1rem 2rem 1rem 1.2rem;
                background-color: variables.$grey-15;
                border-radius: variables.$borderRadius61;
    
                img {
                    height: 2.4rem;
                }
    
                p {
                    font-size: 1.8rem;
                    font-weight: 300;
                    line-height: 2.4rem;
                }
            }
    
            h2 {
                font-size: 4.8rem;
                font-weight: 500;
                line-height: 150%;
                align-self: stretch;
    
                strong {
                    color: variables.$green_60;
                }
            }
    
            p {
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 150%;
                color: variables.$white-90;
                align-self: stretch;
            }
        }

        a {
            display: inline-block;
            background-color: variables.$green_60;
            padding: 1.8rem 3rem;
            text-align: center;
            color: variables.$grey_11;
            border-radius: variables.$borderRadius82;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 150%;
            text-decoration: none;
    
            &:visited {
                text-decoration: none;
                color: variables.$grey_11;
            }
        }
    }

    .teContainer {
        display: flex;
        flex-direction: column;
        gap: 2.6rem;
        flex-shrink: 0;
        width: 51.5rem;
        padding: 3.5rem;
        border-radius: 1rem;
        border: 0.087rem solid variables.$grey_15;
        position: relative;
        background-color: variables.$grey_10;
        background-blend-mode: normal, screen, normal;

        .income {
            display: flex;
            align-items: center;
            gap: .9rem;
            position: absolute;
            padding: 1.4rem 1.7rem;
            background-color: variables.$grey_14;
            left: -6.1rem;
            top: -4.3rem;
            border-radius: 1rem;

            img {
                padding: .9rem;
                border-radius: 4.6rem;
                background-color: variables.$green_60;
            }

            .incomeTexts {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: .087rem;

                strong {
                    font-size: 1.7rem;
                    color: variables.$absolute_white;
                    align-self: stretch;
                    font-weight: 400;
                    line-height: 150%;
                }
                
                p {
                    text-align: center;
                    align-self: stretch;
                    color: variables.$white_90;
                    font-size: 1.3rem;
                    font-weight: 300;
                    line-height: 150%;
                }
            }

        }

        .transactionPart, .exchangePart {
            display: flex;
            flex-direction: column;
            gap: 2.5rem;

            .teTitle {  
                font-size: 1.7rem;
                font-weight: 500;
                align-self: stretch;
                line-height: 150%;
            }
        }

        .transactionPart {
            .transactions { 
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        .exchangePart {
            .exchanges {
                display: flex;
                align-items: flex-start;
                align-self: stretch;
            }

            .exchangeBtn {
                background-color: variables.$grey_14;
                color: variables.$green_65;
                border: none;
                border-radius: 7.1rem;
                align-self: stretch;
                padding: 1.4rem 2.6rem;
            }
        }

        .supportedCurrencyContainer {
            position: absolute;
            right: -5.2rem;
            bottom: -8.2rem;
            border-radius: 6.9rem;
            padding: .9rem .9rem .9rem 2rem;
            display: flex;
            gap: .9rem;
            align-items: center;
            background-color: variables.$grey_14;

            p {
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 150%;
            }

            .currencies {
                display: flex;
                padding: .9rem;
                gap: .7rem;
                border-radius: 4.8rem;
                border: .087rem solid variables.$grey_15;
                background-color: variables.$grey_10;

                img {
                    height: 3.5rem;
                }
            }
        }
    }
}

// Laptop
@media screen and (max-width: 1440px) {
    .hsContainer {
        width: 144rem;
        padding: 6rem 20rem 6rem 8rem;
        gap: 10rem;

        .arrowsdesign {
            right: 6.9rem;
            height: 27.5rem;
        }

        .fjContainer {
            gap: 4rem;

            .fjHeadings {
                gap: 1rem;

                .no-check-bank {
                    gap: .4rem;
                    padding: .8rem 1.6rem .8rem .8rem;
                    
                    img {
                        height: 2rem;
                    }
        
                    p {
                        font-size: 1.4rem;
                    }
                }
        
                h2 {
                    font-size: 3.8rem;
                }
        
                p {
                    font-size: 1.6rem;
                }
            }
    
            a {
                padding: 1.4rem 2.4rem;
                font-size: 1.4rem;
            }
        }

        .teContainer {
            gap: 2.1rem;
            width: 41.1rem;
            padding: 2.8rem;
            border-radius: .8rem;

            .income {
                gap: .7rem;
                padding: 1.1rem 1.4rem;
                left: -4.8rem;
                top: -3.4rem;
                border-radius: .8rem;

                img {
                    padding: .7rem;
                    border-radius: 3.6rem;
                }

                .incomeTexts {
                    gap: .069rem;

                    strong {
                        font-size: 1.4rem;
                    }
                    
                    p {
                        font-size: 1.1rem;
                    }
                }

            }

            .transactionPart, .exchangePart {
                display: flex;
                flex-direction: column;
                gap: 1.4rem;
    
                .teTitle {  
                    font-size: 1.4rem;
                }
            }

            .exchangePart {
                gap: 1.5rem;
                .exchangeBtn {
                    border-radius: 5.7rem;
                    padding: 1.1rem 2.1rem;
                    font-size: 1rem;
                }
            }

            .supportedCurrencyContainer {
                right: -4.1rem;
                bottom: -6.8rem;
                border-radius: 5.6rem;
                padding: .7rem .7rem .7rem 1.7rem;
                gap: .7rem;

                p {
                    font-size: 1.2rem;
                }

                .currencies {
                    padding: .7rem;
                    gap: .55rem;
                    border-radius: 3.8rem;
                    border: .087rem solid variables.$grey_15;

                    img {
                        height: 2.7rem;
                    }
                }
            }
        }
    }
}

// Mobile
@media screen and (max-width: 480px) {
    .hsContainer {
        width: 35.8rem;
        flex-direction: column;
        gap: 8rem;
        align-items: center;
        padding: unset;
        margin-bottom: 4rem;
    
        .arrowsdesign {
            right: -2.1rem;
            bottom: 17rem;
            height: 20rem;
        }
    
        .fjContainer {
            gap: 3rem;
            align-items: center;

            .fjHeadings {
                gap: .8rem;
                align-items: center;
                text-align: center;
                .no-check-bank {
                    p {
                        font-size: 1.2rem;
                    }
                }
        
                h2 {
                    font-size: 2.8rem;
                }
        
                p {
                    font-size: 1.4rem;
                }
            }
        }
    
        .teContainer {
            gap: 1.5rem;
            flex-shrink: 0;
            width: 30.5rem;
            padding: 2.1rem;
            border-radius: .6rem;
            border: 0.051rem solid variables.$grey_15;
    
            .income {
                gap: .5rem;
                padding: .8rem 1rem;
                left: -3.6rem;
                top: -2.6rem;
                border-radius: .6rem;
    
                img {
                    padding: .5rem;
                    border-radius: 2.7rem;
                }
    
                .incomeTexts {
                    gap: .051rem;
    
                    strong {
                        font-size: 1rem;
                    }
                    
                    p {
                        font-size: .8rem;
                    }
                }
            }
    
            .transactionPart, .exchangePart {
                gap: 1rem;
    
                .teTitle {  
                    font-size: 1.2rem;
                }
            }
    
            .transactionPart {
                .transactions { 
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
    
            .exchangePart {
                .exchanges {
                    display: flex;
                    align-items: flex-start;
                    align-self: stretch;
                }
    
                .exchangeBtn {
                    border-radius: 4.2rem;
                    padding: .8rem 1.5rem;
                }
            }
    
            .supportedCurrencyContainer {
                position: absolute;
                right: -3.1rem;
                bottom: -5.1rem;
                border-radius: 6.9rem;
                padding: .5rem .5rem .5rem 1.2rem;
                
                p {
                    font-size: 1rem;
                }
    
                .currencies {
                    padding: .5rem;
                    gap: .4rem;
                    border-radius: 2.8rem;
                    border: .051rem solid variables.$grey_15;
                    
                    img {
                        height: 2rem;
                    }
                }
            }
        }
    }
}