@use '../variables.scss';

// 1920p Monitor
.productsContainer {
    display: flex;
    width: 159.6rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 10rem;

    .productCards {
        display: flex;
        align-items: flex-start;
        gap: 5rem;
        align-self: stretch;
    }
}

// Laptop
@media screen and (max-width: 1440px) {
    .productsContainer {
        display: flex;
        width: 128rem;
        gap: 8rem;

        .productCards {
            gap: 4rem;
        }
    }
}

// Tablets & Mobiles
@media screen and (max-width: 768px) {
    .productsContainer {
        width: 35.8rem;
        gap: 5rem;
    
        .productCards {
            flex-direction: column;
            gap: 6rem;
            padding: 0rem 1rem;
        }
    }
}