@use '../../variables';

.valueCard {
    display: flex;
    padding-left: 3rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    flex: 1 0 0;
    border-left: .1rem solid variables.$green_60;

    h4 {
        align-self: stretch;
        color: variables.$grey_30;
        font-size: 5.8rem;
        font-weight: 500;
        line-height: 150%; /* 87px */
    }
    
    p {
        align-self: stretch;
        color: variables.$grey_70;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 150%; /* 27px */
    }
}

// Laptop
@media screen and (max-width: 1440px) {
    .valueCard {
        padding-left: 2.4rem;
        gap: 2rem;

        h4 {
            font-size: 4rem;
        }
        
        p {
            font-size: 1.6rem;
        }
    }
}

// Tablets & Mobiles
@media screen and (max-width: 768px) {
    .valueCard {
        padding-left: 2rem;
        gap: 1.4rem;
        
        h4 {
            font-size: 3rem;
        }
        
        p {
            font-size: 1.4rem;
        }
    }
}