@use '../variables';

.logo {
    display: flex;
    align-items: center;
    gap: .4rem;
    flex-shrink: 0;
}

@media screen and (max-width: 1440px) {
    .logo {
        gap: .35rem;
        align-items: center;
        
        .shape {
            width: 3rem;
            height: 3rem;
        }

        .navTitle {
            width: 8.4rem;
            height: 1.4rem;
        }
    }
}