@use '../../variables';

.jobsCardContainer {
    width: 78.3rem;
    display: flex;
    padding: 5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
    border-radius: 1.6rem;
    border: .1rem solid variables.$grey_15;
    background-color: variables.$grey_11;
    .jcTexts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5rem;
        align-self: stretch;

        h5 {
            align-self: stretch;
            font-size: 3rem;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 45px */
        }

        p {
            color: variables.$grey_70;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 300;
            line-height: 150%; /* 27px */
        }

        .jcJobName {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.4rem;
            align-self: stretch;

            .jcTags {
                display: flex;
                align-items: flex-start;
                gap: 1rem;
            }

        }
        .jcJobResume {
            h5 {
                font-size: 2.4rem;
            }
        }

        .jcJobResume, .jcRequireQualiContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
            align-self: stretch;
            h5 {
                font-size: 2.4rem;
            }
        }

        .jcRequireQualiContainer > .jcQualifications {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
            align-self: stretch;
        }
    }

    button {
        display: flex;
        padding: 1.6rem 3rem;
        align-items: center;
        gap: 1rem;
        border: unset;
        border-radius: 8.2rem;
        background-color: variables.$green_60;
        color: variables.$grey_11;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 27px */
        cursor: pointer;
    }
}

@media screen and (max-width: 1440px) {
    .jobsCardContainer {
        width: 63rem;
        padding: 4rem;
        gap: 4rem;

        .jcTexts {
            gap: 4rem;

            h5 {
                font-size: 2.4rem;
            }

            p {
                font-size: 1.6rem;
            }

            .jcJobName {
                gap: 1rem;
                
                .jcTags {
                    gap: .8rem;
                }

            }

            .jcJobResume, .jcRequireQualiContainer {
                gap: 1.6rem;
                h5 {
                    font-size: 2rem;
                }
            }

            .jcRequireQualiContainer > .jcQualifications {
                gap: 1.4rem;
            }
        }

        button {
            padding: 1.2rem 2rem;
            font-size: 1.4rem;
        }
    }
}