@use '../variables';

.obContainer {
    display: flex;
    width: 160rem;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    padding: unset;

    .obCards {
        display: flex;
        padding: unset;
        gap: 10rem;
        flex-direction: column;
        align-self: stretch;
        position: relative;

        .obSubLine {
            width: auto;
            height: .1rem;
            background-color: variables.$grey_15;
        }

        .obSubContainer {
            display: flex;
            gap: 10rem;
            align-self: stretch;

            .obCardLine {
                width: .1rem;
                height: auto;
                background-color: variables.$grey_15;
            }
        }
    }
}

// Laptop
@media screen and (max-width: 1440px) {
    .obContainer {
        width: 128rem;
        gap: 6rem;

        .obCards {
            gap: 5rem;
            
            .obSubContainer {
                gap: 5rem;
            }
        }
    }
}

// Tablets & Mobiles
@media screen and (max-width: 768px) {
    .obContainer {
        width: 35.8rem;
        gap: 6rem;
    
        .obCards {
            gap: 2.4rem;

            .obSubLine, 
            .obSubContainer > .obCardLine {
                width: 100%;
                height: .1rem;
            }
    
            .obSubContainer {
                flex-direction: column;
                gap: 2.4rem;
            }
        }
    }
}