@use '../variables';

.wybcContainer {
    width: 159.9rem;
    padding: 5rem;
    display: flex;
    align-items: flex-start;
    position: relative;
    border-radius: 2rem;
    background-color: variables.$grey_11;
    
    .wybcImgAbstract {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .wybcTitles {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 79.1rem;
        padding: 8rem;
        gap: 2.3rem;
        flex-shrink: 0;
        z-index: 5;
        border-radius: 2rem 0rem 8rem 2rem;      
        background-color: variables.$grey_10;

        .wybcBeforeTitle {
            // color: variables.$absolute_white;
            // font-size: 2rem;
            // font-weight: 400;
            // line-height: 150%; 
            display: none;
        }
        
        h2 {
            align-self: stretch;
            font-size: 5.8rem;
            font-weight: 500;
            line-height: 130%;

            strong {
                color: variables.$green_60;
            }
        }

        p {
            color: variables.$grey_70;
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 150%; /* 27px */

        }
    }
  
    .wybcYBCImg {
        z-index: 2;
        margin-left: -26rem;
        border-radius: 1.6rem;
        background-blend-mode: overlay, normal, normal;
    }
}

// Laptop
@media screen and (max-width: 1440px) {
    .wybcContainer {
        width: 128rem;
        padding: 4rem;
        
        .wybcTitles {
            width: 66rem;
            padding: 6rem;
            gap: 2rem;
            border-radius: 2rem 0rem 6rem 2rem;      
    
            h2 {
                font-size: 4.8rem;
            }
    
            p {
                font-size: 1.6rem;
                
                &:first-child {
                    color: variables.$absolute_white;
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 150%; 
                }
            }
        }
      
        .wybcYBCImg {
            margin-left: -17.4em;
            width: 71.5rem;
            height: 56.8rem;
        }
    }
}

// Tablets & Mobiles
@media screen and (max-width: 768px) {
    .wybcContainer {
        width: 35.8rem;
        padding: 1.4rem;
        flex-direction: column-reverse;
        align-items: flex-end;
        
        .wybcImgAbstract {
            height: 18.9rem;
        }
        
        .wybcTitles {
            width: auto;
            padding: 2.4rem;
            gap: 1.4rem;
            border-radius: 2rem;      
            text-align: center;

            
            h2 {
                font-size: 2.8rem;
            }
    
            p {
                font-size: 1.4rem;
            }
        }
      
        .wybcYBCImg {
            margin-bottom: -4.1rem;
            height: 25.3rem;
            width: 100%;
        }
    }
}