@use 'variables';

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: variables.$absolute_white;
}


:root {
    font-family: variables.$lexend;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
}

html {
    background-color: variables.$grey_10;
}

a {
    text-decoration: none;
}