@use 'variables';

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: variables.$Absolute_white;
}


:root {
    font-family: variables.$lexend;
    font-weight: normal;
    font-size: 10px;
}