@use 'variables';
@import 'base.scss';

body {
    background-image: url('../img/App/AbstractDesign.webp');
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15rem;
    overflow: hidden;
}

// Laptop gap between sections
@media screen and (min-width: 1435px) and (max-width: 1440px) {
    main {
        gap: 12rem;
    }
}

// Mobile & Tablets gap between sections
@media screen and (min-width: 320px) and (max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }
    
    main {
        gap: 8rem;
    }
}

