@use 'variables';
@import 'base.scss';

body {
    background-image: url('../img/App/AbstractDesign.png');
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15rem;
    overflow: hidden;
}

// Laptop gap between sections
@media only screen and (min-width: 1435px) and (max-width: 1440px) {
    main {
        gap: 12rem;
    }
}

// Mobile gap between sections
@media only screen and (min-width: 360px) and (max-width: 430px) {
    html, body {
        overflow-x: hidden;
    }
    
    main {
        gap: 8rem;
    }
}

/*******************************************
********* CONTENT HIDDEN *******************
*******************************************/ 
@media all and (max-width: 319px) {
    body {
        display: none;
        background-color: black;
    }   
}

@media all and (min-width: 431px) and (max-width: 1438px) {
    body {
        display: none;
        background-color: black;
    }   
}

@media all and (min-width: 1442px) and (max-width: 1600px) {
    body {
        display: none;
        background-color: black;
    }   
}

