@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
// Fonts
$lexend: 'Lexend', sans-serif;

// Colors
$grey_10: #1A1A1A;
$grey_11: #1C1C1C;
$grey_14: #22251B;
$grey_15: #262626;
$grey_19: #191919;
$grey_20: #333333;
$grey_35: #59595A;
$grey_70: #B3B3B3;
$grey_75: #BFBFBF;

$green_60: #CAFF33;
$green_65: #D1FF4D;
$grey_70: #B3B3B3;
$white-90: #E4E4E7;
$absolute_white: #ffffff;
$lightgray: lightgray;
$white_shades_90: #E4E4E7;
$grey_shades_70: #B3B3B3;

$radial_gradient: #191919, #CAFF33, #191919;

// Border-Radius
$borderRadius61: 6.1rem; 
$borderRadius82: 8.2rem; 