// Colors
$grey_10: #1A1A1A;
$grey_11: #1C1C1C;
$grey_15: #262626;

$grey_20: #333333;
$grey_35: #59595A;
$grey_70: #B3B3B3;
$grey_75: #BFBFBF;

$green_60: #CAFF33;
$Absolute_white: #ffffff;
$radial_gradient: #191919, #CAFF33, #191919;
// Border-Radius
$borderRadius82: 8.2rem; 